.calendar {
    min-width: 300px;
    min-height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: transparent;
    color: #697CA6;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    border: 1px solid #697CA6;
}

