.overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0,0,0,0.3); 
    z-index: 1000;
    overflow-y: auto;
}

.modal {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 1.5rem; 
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
}
