.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.content {
    width: 90%;
    flex-grow: 1;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.content h1 {
    font-size: 24px;
    font-weight: 600;
}

.content p {
    font-size: 14px;
}