.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.headPart h1 {
    font-weight: 550;
    font-size: 24px;
}

.searchBar {
    width: 700px;
    height: 35px;
    border: 2px solid #282E7B;
    font-weight: 600;
    padding-left: 35px;
    border-radius: 4px;
}

.dataFilter {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    height: 40px;
}

.content {
    margin-top: 25px;
}

.searchIcon {
    position: absolute;
    left: 10px;
    height: 20px;
}

.content {
    flex-grow: 1;
    display: flex;
}

.vrList {
    text-align: center;
    width: 40%;
    border-right: 1px solid rgb(191, 191, 191);
}

.noVac {
    margin-top: 25px;
    font-size: 15px;
}

.detailWindow {
    width: 70%;
    height: 100px;
}