.btn {
    background-color: #3A79FF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #1c51c4;
}