.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: red;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    min-height: 25px;
    max-width: 300px;
}

.agreement {
    max-width: 275px;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    color: #697CA6;
}

.selectCustom {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: #fff url('data:image/svg+xml;charset=UTF-8,<svg ...></svg>') no-repeat right .75rem center; 
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .selectCustom:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  
  
  .selectCustom::-ms-expand {
    display: none;
  }
  .selectCustom:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
  }
