.select-inp {
    min-width: 300px;
    min-height: 50px;
    border: 1px solid #697CA6;
    color: #697CA6;
    background: transparent;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    padding: 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select-choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    min-width: 300px;
    min-height: 50px;
    border: 1px solid #697CA6;
}