.inputList {
    max-height: 70vh;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 30px;
}

.cancelButton {
    outline: none;
    border: none;
    background: none;
}

.cancelButton:hover {
    cursor: pointer;
}

.btns {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btns button {
    width: 105px;
}