.wrapper h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: 450;
    color: #3D4F9F;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background: none;
    border: none;
    color: #697CA6;
    font-size: 13px;
    min-width: 130px;
    min-height: 45px;
    margin-top: 20px;
}

.backBtn:hover {
    cursor: pointer;
}